.newParty {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  min-height: 400px;
  padding: 20px;
  .newPartyHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .basicInformation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
    .left-section {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 15px;
      width: 30%;
    }
    .desInput {
      width: 35%;
    }
  }
  .servicesHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  .addServices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    gap: 15px;
  }
  .servicesInput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  .newPartyFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .photosCarousel {
    align-self: center;
  }
  .partyPhotosFooter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    .createButton {
      margin-left: auto;
      justify-self: flex-end;
    }
  }
}

.successParty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  min-height: 400px;
  padding: 20px;
  text-align: center;
  .buttons {
    display: flex;
    gap: 20px;
  }
}

.errorModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #eeeeeef1;
  border-radius: 10px;
  box-shadow: 24px;
  padding: 15px;
  .modalButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
