.newParty {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  min-height: 400px;
  padding: 20px;
  .newPartyHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .basicInformation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
    .left-section {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 15px;
      width: 30%;
    }
    .desInput {
      width: 35%;
    }
  }
  .servicesHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  .newPartyFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
