@use "./components/login/login";
@use "./components/dashboard/dashboard";
@use "./components/welcome/welcome";
@use "./components/loginResetPage/loginReset";
@use "./components/signup/signupPage";
@use "./components/template/template.scss";
@use "./components/welcomeTemplate/welcome_template";
@use "./components/providersWelcome/proviers_welcome";
@use "./components/about/about";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import "https://fonts.googleapis.com/css?family=Raleway";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: "Montserrat-Light-Alt1";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://raw.githubusercontent.com/Differentunic/Montserrat-Alt1/main/Montserrat-Light-Alt1.woff2")
    format("woff2");
}

.custom-font {
  font-family: "Montserrat-Light-Alt1";
  letter-spacing: 5px;
  white-space: nowrap;
}
.custom-icon {
  margin-right: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#a6b1e1, #f4eeff);
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
