@use "./components/login/login";
@use "./components/welcome/welcome";
@use "./components/login-reset/loginReset";
@use "./components/login-reset/newPassForm";
@use "./components/signup/signupPage";
@use "./components/template/template.scss";
@use "./components/welcome/welcome-template/welcomeTemplate";
@use "./components/welcome/providers-welcome/providersWelcome";
@use "./components/welcome/about-welcome/about";
@use "./components/signup/submitRegister";
@use "./components/confirm/confirm";
@use "./components/my-parties/myParties";
@use "./components/discover/discover";
@use "./components/statistics/statistics";
@use "./components/providers/providers";
@use "./components/photos/photos";
@use "./components/recommendations/recommendations";
@use "./components/user-settings/userSettings";
@use "./components/party-invite/partyInvite";
@use "./components/new-party/newParty";
@use "./components/my-parties/party-details/partyDetails";
@use "./components/error/error";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: "Montserrat-Light-Alt1";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/Montserrat-Light-Alt1.woff2") format("woff2");
}

.custom-font {
  font-family: "Montserrat-Light-Alt1";
  letter-spacing: 5px;
  white-space: nowrap;
  user-select: none;
}
.custom-icon {
  margin-right: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#a6b1e1, #f4eeff) repeat center center fixed;
  min-height: 100vh;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loaderCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
