.providers-center-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    gap: 30px;
  }
  .left-center-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    width: 50%;
    color: rgba(71, 71, 71, 0.814);
    @media only screen and (max-width: 1000px) {
      text-align: center;
      width: 70%;
    }
    .title {
      align-self: flex-start;
      font-size: 48pt;
      color: rgba(0, 0, 0, 0.657);
      font-weight: 600;
      @media only screen and (max-width: 1000px) {
        word-spacing: 9999px;
        align-self: center;
      }
    }
  }
  .right-center-section {
    height: 350px;
    pointer-events: none;
  }
  @media only screen and (max-width: 1000px) {
    height: 300px;
  }
}
