.partyInvite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  gap: 50px;
  background: linear-gradient(
      darken($color: #a6b1e1, $amount: 6),
      darken($color: #f4eeff, $amount: 7)
    )
    no-repeat center center fixed;
  .upperSectionOut {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: calc(95vh - 50px);
    font-weight: lighter;
    font-size: larger;
    border-radius: 15px;
    margin-top: 50px;
    background-color: #ced2fd;
    .upperSectionIn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      padding: 50px;
      height: calc(95vh - 100px);
      font-weight: lighter;
      font-size: larger;
      border-radius: 15px;

      .upperRightSection {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 50%;
        .discoBall {
          position: absolute;
          right: 2%;
          top: 0;
        }
        .partyAnimation {
          width: 90%;
          pointer-events: none;
        }
      }
      .upperLeftSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 50%;
        height: 100%;

        .upperText {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 70%;
          gap: 25px;
          text-align: center;
          #begin {
            font-size: 19pt;
            font-weight: 500;
          }
          #title {
            line-height: 75px;
            font-size: 56pt;
            font-weight: bold;
          }
        }
      }
    }
  }
  .formPaper {
    padding: 20px;
    width: 85%;
    height: calc(95vh - 50px);
    border-radius: 25px;
    background-color: #ced2fd;
    text-align: center;
    p {
      margin-bottom: 30px;
    }
    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  }
}
