$lightBlue: #b2a4ff;
$darkBlue: #554994;

#submit-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  // justify-content: center;

  #submit-content {
    height: 525px;
    background-color: white;
    text-align: center;
    width: 900px;
    max-width: 100%;
    min-width: 650px;
    border-radius: 10px;
    box-shadow: -3px 5px 10px 3px rgba(0, 0, 0, 0.229);
    position: relative;
    margin: auto;

    .register-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 50%;
      height: 100%;
      gap: 15px;
      h1 {
        margin-bottom: 40px;
        font-weight: bold;
        font-size: 48px;
      }
      #title {
        margin-bottom: 15px;
        animation: bounce 0.4s ease infinite alternate;
      }

      .form-input {
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: #eee;
        padding: 13px;
        font-size: 1.1rem;
        width: 80%;
      }

      .submit-btn {
        padding: 14px 45px;
        background-color: $darkBlue;
        border: none;
        color: white;
        border-radius: 18px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        border: 1px solid white;
        transition: background-color 0.2s linear;

        &:hover {
          background-color: darken($color: #baaefc, $amount: 10);
        }
      }

      .link {
        color: rgba(46, 46, 46, 0.658);
        text-decoration: none;
        &:hover {
          color: rgba(0, 0, 0, 0.672);
          text-decoration: underline;
        }
      }
    }

    .overlay-panel {
      background-color: $lightBlue;
      border-radius: 10px;
      width: 50%;
      height: 100%;
      color: white;
      animation: center 1s ease-out, color 1s ease-out;
      animation-fill-mode: forwards;
      position: relative;
      #last {
        margin-bottom: 20px;
      }
      .conffetti-animation {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        // margin-top: 30px;
        padding: 0;
        width: 600px;
        height: 600px;
        pointer-events: none;
        // flex: 1;
        // align-self: center;
        z-index: 999;
      }
      .submit-btn {
        transition: transform 0.3s ease-out;
        &:hover {
          transform: scale(1.05);
          background-color: $darkBlue;
        }
      }
    }
    .right {
      position: absolute;
      top: 0;
      right: 0%;
      animation: disappear 1s ease-out;
    }
    .left {
      position: absolute;
      top: 0;
      left: 0%;
    }

    &.switch {
      .right,
      .left {
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s ease-in;
      }
      .right {
        right: 50%;
      }
    }
  }

  .back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

@keyframes bounce {
  0% {
    text-shadow: 0 3px 0 #ccc;
  }
  100% {
    transform: translateY(-20px);
  }
}
