.welcomePage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  @media only screen and (max-width: 1000px) {
    gap: 100px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 8%;
    right: 5%;
    min-width: 90%;
    .nav-logo {
      .nav-logo-text {
        height: 40px;
        font-family: "Montserrat-Light-Alt1", sans-serif;
        letter-spacing: 23px;
        font-size: 18pt;
        user-select: none;
        white-space: nowrap;
        @media only screen and (max-width: 490px) {
          font-size: 12pt;
        }
      }
      .nav-logo-img {
        height: 20px;
        width: 20px;
        margin-right: 23px;
        user-select: none;
        @media only screen and (max-width: 490px) {
          height: 15px;
          width: 15px;
        }
      }
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      @media only screen and (max-width: 1000px) {
        justify-content: flex-end;
      }
      .textButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 20px;
        font-family: "Rubik", sans-serif;
        @media only screen and (max-width: 1000px) {
          display: none;
          flex-direction: column;
          animation: fadeIn 1s ease;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
          opacity: 0;
          position: fixed;
          left: 50%;
          top: 35%;
          transform: translate(-50%, 0);
          z-index: 100;
          text-shadow: 0px 0px 5px rgb(255, 255, 255);
          & a:hover {
            transition: all 0.4s;
            text-shadow: 0 0 20px #fff;
          }
        }
      }
    }
  }
  .nav-icon {
    display: none;
    height: 40px;
    width: 40px;
    z-index: 100;
    @media only screen and (max-width: 1000px) {
      display: flex;
      right: 5%;
      top: 8%;
    }
  }
  .balloons-mobile {
    display: none;
    @media only screen and (max-width: 1000px) {
      display: unset;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99;
      width: 100%;
      height: 100%;
      animation: sweepIn 1s ease;
    }
  }
}

@keyframes sweepIn {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
