.partyDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  gap: 30px;
  width: 100%;
  .basicInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    .left-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 30px;
    }
    .desInput {
      width: 50%;
    }
  }
  .partyPhotos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
