.balloon-outer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
  width: 0%;
  height: 100vh;
  .balloons-mobile {
    width: 140vw;
  }
}

.main {
  .nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    width: 90%;
    .nav-logo {
      .nav-logo-text {
        font-family: "Montserrat-Light-Alt1", sans-serif;
        letter-spacing: 23px;
        font-size: 18pt;
        user-select: none;
        white-space: nowrap;
      }
      .nav-logo-img {
        height: 24px;
        width: 24px;
        margin-right: 23px;
        user-select: none;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      gap: 30px;
      list-style-type: none;
      font-family: "Rubik", sans-serif;
      transition: all 0.2s ease;
      white-space: nowrap;
      margin-left: 150px;
      li {
        &:hover {
          transform: scale(1.1);
          transition: transform 0.5s ease-out;
        }
      }
    }

    .nav-icon {
      display: none;
      z-index: 9999;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    .nav-section {
      .nav-bar {
        &.show {
          .balloon-outer {
            display: block;
            width: 100%;
            animation: sweepIn 1s;
          }
          nav {
            animation: sweepIn 1s;
            opacity: 1;
            width: 100%;
          }
        }
        &.hide {
          .balloon-outer {
            // display: none;
            // width: 0;
            animation: sweepOut2 1s;
          }
          nav {
            transition: width 1s, opacity 1s;
            width: 0;
            opacity: 0;
            overflow: hidden;
          }
        }
        nav {
          position: fixed;
          height: 100vh;
          top: 0;
          right: 0;
          z-index: 999;
          justify-content: center;
          align-items: center;
          // background: linear-gradient(#f0e9fd, #a6b1e1);
          background-color: rgba(0, 0, 0, 0.288);
          color: white;
          display: flex;
          font-family: "Montserrat", sans-serif;
          text-shadow: 2px 2px #494a4f;
          ul {
            z-index: 999;
            flex-direction: column;
            margin: 0;
          }
        }
      }

      .nav-icon {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .main {
    .nav-section {
      .nav-logo {
        .nav-logo-text {
          letter-spacing: 10px;
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@keyframes sweepIn {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes sweepOut {
  from {
    opacity: 1;
    width: 100%;
    display: flex;
  }
  to {
    opacity: 0;
    width: 0%;
    display: flex;
  }
}

@keyframes sweepOut2 {
  from {
    opacity: 1;
    width: 100%;
    display: block;
  }
  to {
    opacity: 0;
    width: 0%;
    display: block;
  }
}
