.center-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 65px;
  gap: 25px;
  width: 90%;
  flex: 1;

  .text {
    max-width: 90%;
    font-family: "Poppins", sans-serif;
    align-self: flex-start;
    flex: 2;
    .title {
      font-size: 48pt;
      z-index: 2;
      color: rgba(0, 0, 0, 0.657);
      user-select: none;
      font-weight: 600;
      line-height: 55px;
      @media only screen and (max-width: 800px) {
        font-size: 38pt;
      }
    }
    .text-content {
      margin-top: 70px;
      color: rgba(71, 71, 71, 0.814);
      line-height: 25px;
    }
  }
  .about-animation {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    // height: 300px;
    pointer-events: none;
    flex: 1;
    align-self: center;
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    margin-top: 100px;

    .dance-party {
      height: 300px;
    }
  }
}
